{% extends "layout.html" %}

{% block content %}

<h1>Questionário</h1>
O questionário tem a duração de 6 ecrãs. Depois de responderes ao ao questionário podes levantar um brinde mediante.
<div class="formwrapper">
    <table style="width:100%;">
    <tr>
        <td>
            <img src="../static/img/escuro.jpeg" style="max-height: 100px; max-width: 100px;" />
        </td>
        <td>
            <img src="../static/img/claro.jpeg" style="max-height: 100px; max-width: 100px;" />
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    </table>
    <form method="post" action="{{url_for('.form')}}">
        {{ form.csrf_token }}
        <div class="form-field">
            {{ form.email.label }} {{ form.email }}
            {% if form.email.errors %}
            <ul class="errors">
                {% for error in form.email.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.title.label }} {{ form.title }}
            <i class="fas fa-caret-down"></i>
            {% if form.title.errors %}
            <ul class="errors">
                {% for error in form.title.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {{ form.recaptcha }}
        {{ form.submit }}
    </form>
</div>
{% endblock %}